.librery{
    background-image: url('./assets/images/librery.jpg');
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    padding: 50px;
    display: flex;
    align-items: center;
}

.edit-body{
    background-image: url('./assets/images/edit.webp');
    height: 655px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: 0%;
    background-repeat: no-repeat;
}